body{
    background: lightblue
    
}
.wr{
    padding-top: 10px;
    height: 100px;
    text-align: center;
}
img{
    transform: rotatez(0deg) scale();
}
.circle{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background: pink;
    color: white;
    padding:20px;
    cursor: pointer;
    transition: 1s;
    transform: translateX(400px) translateY(150px);
}


.circle:hover{
    background: yellow;
    transform: rotate(360deg);
    transform: translateX(400px) translateY(150px);
}